
.img__wrap {
  height: 200px;
  position: relative;
  width: 257px;
  margin-left: 30px;
}

.img__description_layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
  visibility: hidden;
  color: #fff;
  opacity: 0.6;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  transition: opacity .2s, visibility .2s;
}

.img__wrap:hover .img__description_layer {
  visibility: visible;
  opacity: 1;
}

.img__description {
  transition: .2s;
  transform: translateY(1em);
}

.img__wrap:hover .img__description {
  transform: translateY(0);
}
.img__description{
  color:white;
}
h1{
  font-family: 'Poppins', sans-serif;
}
