
header {
   min-height: 450px;
 }

 .nav {
   max-width: 1200px;
 }

 .nav .name {
   color: white;
   display: block;
   margin-right: auto;
 }
 body {
   background: #EDFFF1;
   color: #222;
   font-family: 'Roboto', sans-serif;
   margin: 0;
   padding: 0;
   text-align: center;
 }

 a {
   color: #1BE8AA;
   text-decoration: none;
 }

 a:hover {
   color: #1BE8AA;
 }

body {
   margin:0;
}

 .main-nav {
   background: black;
   min-height: 30px;
   padding: 10px;
   position: fixed;
   text-align: right;
   top: 0px;
   width: 100%;
 }

 .nav {
   display: flex;
   font-weight: 700;
   justify-content: space-around;
   list-style-type: none;
   margin: 0 auto;
   padding: 0;
 }
 .nav .name {
   display: none;
 }
 .nav li {
   padding: 5px 10px 10px 10px;
 }
 .nav a {
   transition: all .5s;
 }
 .nav a:hover {
   color: white
 }

 header {

   background-size: cover;
   overflow: hidden;
   padding-top: 60px;
 }
p{
   color:#0c8970;
}
 header {
   line-height: 1.5;
 }
 header .profile-image {
   border: 3px solid white;
   border-radius: 50%;
   height: 150px;
   margin-top: 50px;
   transition: all .5s;
   width: 150px;
 }
 header .profile-image:hover {
   transform: scale(1.2) rotate(5deg);
 }
footer{
   background: black;
   bottom: 0px;
   color: #1BE8AA;
   display: flex;
   font-weight: 700;
   justify-content: space-around;
   margin: 0 auto;
   min-height: 30px;
   padding: 10px;
   position: fixed;
   text-align: center;
   width: 100%;
}
