
header {
   min-height: 350px;
 }

 .nav {
   max-width: 1200px;
 }

 .nav .name {
   color: white;


 }
 body {
   background: #EDFFF1;
   color: #222;
   font-family: 'Roboto', sans-serif;
   margin-bottom: 50px;
   padding: 0;
   position:absolute;
   text-align: center;
 }

 a {
   color: #1BE8AA;
   text-decoration: none;
 }

 a:hover {
   color: #1BE8AA;
 }

 .main-nav {
   background: black;
   min-height: 30px;
   padding: 10px;
   position: fixed;
   text-align: right;
   top: 0px;
   width: 100%;
 }

 .nav {
   display: flex;
   font-weight: 700;
   justify-content: space-around;
   list-style-type: none;
   margin: 0 auto;
   padding: 0;
 }
 .nav .name {
   display: none;
 }
 .nav li {
   padding: 5px 10px 10px 10px;
 }
 .nav a {
   transition: all .5s;
 }
 .nav a:hover {
   color: white
 }

 header {
   padding-top: 20px;
 }
p{
   color:#0c8970;
}

 header .profile-image {
   border: 3px solid #1BE8AA;
   border-radius: 50%;
   height: 150px;
   line-height: 1.5;
   margin-top: 50px;
   overflow: hidden;
   transition: all .5s;
   width: 150px;
 }
 header .profile-image:hover {
   transform: scale(1.2) rotate(5deg);
 }
footer{
   background: black;
   bottom: 0px;
   clear:both;
   color: #1BE8AA;
   font-weight: 700;
   min-height: 30px;
   overflow: auto;
   padding: 10px;
   position: fixed;
   text-align: center;
   width: 100%;
}
.black{
  color:black;
}
.white{
  color:white;
}
ul, li
{
  list-style-type:none;
  display:inline-block;
}
.profile-image{
  margin-top: 40px;
}
h1{
  font-family: 'Poppins', sans-serif;
}
.social list-inline{
  display:inline-block;
}
.fa {
display:inline-block;
}
